<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.dao.LecturerMapper">

    <select id="getLecturerByPage" resultType="com.model.pojo.Lecturer">
        SELECT * FROM `lecturer`
        <where>
            <if test="">
                `lecturer_name` =
            </if>
            <if test="">
                `lecturer_mobile` =
            </if>
            <if test="">
                `status_id` =
            </if>
        </where>
    </select>


</mapper>
